<li id="asset_<%= asset.id %>"><a href="<%= a_asset_path asset %>">
	<% if asset.image %>
		<%= asset.image.tag(:thumb, :draggable => true) %>
		
	<% end %>
	<span id="asset_tip_<%= asset.id %>">
		<h3><%= asset.title %></h3>
		<%= asset.owner %>
		<br/><%= [asset.image_width,asset.image_height].join("x") %>
	</span>
</a></li>
<% content_for :footerjss do %>
	new Tooltip($("asset_<%= asset.id %>"), {content:"asset_tip_<%= asset.id %>"})
	Element.observe($$('#asset_<%= asset.id %> img')[0],'dragstart',function (evt) { 
		console.log("dragstart on <%= asset.id %>... setting data")
		evt.dataTransfer.setData('text/uri-list','http://localhost:3000<%= escape_javascript(api_asset_path(asset)) %>') 
	})

<% end %>