<%
	@page_title = "Edit Asset"
%>

<div class="fourW">
	<h2>Edit Asset Information</h2>
<%= semantic_form_for(@asset, :as => :asset, :url => a_asset_path(@asset)) do |f| %>
	<%= f.inputs :name => "Basics" do %>
		<%= f.input :title %>
		<%= f.input :caption, :as => :text, :input_html => {:rows => 3} %>
	<% end %>
	
	<%= f.inputs :name => "Rights" do %>
		<%= f.input :owner %>
		<%= f.input :url %>
	<% end %>
	
	<%= f.inputs :name => "Metadata" do %>
		<%= f.input :image_taken, :as => :date %>
		<%= f.input :image_gravity, :as => :select, :collection => Asset::GRAVITY_OPTIONS %>
	<% end %>
	
	<%= f.inputs :name => "Internal" do %>
		<%= f.input :notes %>
	<% end %>
	
	<%= f.buttons %>
<% end %>
</div>
<div class="twoW endcap">
	<br/>
	<div id="preview">
	<%= @asset.image.tag(:lsquare) %>
	</div>
	
	<p><I>options...</i></p>
		
	<hr/>
	
	<h3>Replace Image</h3>
	
	<div id="replacedrop" style="">
		&nbsp;
	</div>
	
	
</div>

<% @js = ["/js/bdtwnUpload.js"] %>
<% content_for :footerjss do %>
	var ahReplace = new AssetHostUpload({dropEl:"replacedrop",emptyText:"Drop Replacement Image Here", afterText: "View Replaced Image", url:"<%= replace_a_asset_path(@asset) %>",posturl:"<%= a_asset_path(@asset) %>",allowMultiple:false})
<% end %>