<%
	@page_title = "Add Metadata"
%>

<%= semantic_form_for(@assets, :url => metadata_a_assets_path) do |f| %>
	<% for asset in @assets %>
		<%= f.fields_for "#{asset.id}", asset, :builder => Formtastic::FormBuilder do |af| %>
			<hr/>
			<div class="twoW"><%= asset.image.tag(:lsquare) %></div>
			<div class="fourW endcap">
				<%= af.inputs :name => "Asset #{asset.id}" do %>
				<%= af.input :idkey %>
				<%= af.input :title %>
				<%= af.input :description, :as => :text, :input_html => {:rows => 3}%>
				<%= af.input :owner %>
				<%= af.input :url %>				
				<% end %>
			</div>
			<br class="clear"/>
			<hr/>
		<% end %>
	<% end %>
	
	<%= submit_tag "Update Metadata" %>
<% end %>