<%
	@page_title = "Asset: #{@asset.title}"
%>

<h1><%= @page_title %></h1>

<div class="threeW">
	<h3>ID Key:</h3>
	<%= @asset.idkey %> (<%= link_to "Edit Metadata", edit_a_path %>)
	
	<h3>Title:</h3>
	<%= @asset.title %>
	
	<h3>Image Dimensions:</h3>
	<%= [@asset.image_width,@asset.image_height].join(" x ") %>
	
	<h3>Taken At:</h3>
	<%= @asset.image_taken %>
</div>
<div class="threeW endcap">
	
	<h3>Description:</h3>
	<%= @asset.description %>
	
	<h3>Copyright:</h3>
	<%= @asset.owner %>
	
	<h3>Notes:</h3>
	<%= @asset.notes %>
</div>
<br class="clear"/>
<hr/>

<div id="preview_widget">
	<%= form_tag preview_a_path(@asset), :remote => true, :method => :get do %>
		<%= select_tag :output, options_for_select(@asset.rendered_outputs, :selected => :wide) %>
		<%= submit_tag "Preview Output" %>
	<% end %>
</div>

<div id="preview">
	<%= render_asset(@asset,:wide) %>
</div>
