<!DOCTYPE html>
<html>
<head>
  <title>AssetHost</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<%= link_to "AssetHost", "#", :class => "brand" %>

			<ul class="nav pull-right">
				<li><%= link_to "Log Out", _sign_out_path, :method => :delete %></li>
			</ul>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		<% if flash[:notice] %><div class="notice"><%= flash[:notice] %><% end %>
		<% if flash[:alert] %><div class="notice"><%= flash[:alert] %><% end %>
		</div>	
	</div>
	
	<div id="content">
	<%= yield %>
	</div>
	
</div>
</body>
<%= render "shared/footerjs" %>
</html>