<!DOCTYPE html>
<html>
<head>
  <title>AssetHost</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="content">
	<div class="blocks">
		<div style="display: inline;float:right">
			<% if current_user %>
			<p style="margin: 0"><i>Logged in as <%= current_user.email %>. [<%= link_to "Log Out", destroy_user_session_path %>]</i></p>
			<% end %>			
		</div>
		<h1>AssetHost</h1>
		<% if flash[:notice] %><div class="notice"><%= flash[:notice] %><% end %>
		<% if flash[:alert] %><div class="notice"><%= flash[:alert] %><% end %>
		<%= yield %>
	</div>
</div>
</body>
<%= render "shared/footerjs" %>
</html>