<!DOCTYPE html>
<html>
<head>
  <title>AssetHost</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="content">
	<div class="blocks">
		<div class="threeW">
			<h1><%= link_to "AssetHost", a_assets_path %></h1>
			<hr/>
			
			<% if current_user %>
			<p><i>Logged in as <%= current_user.email %>. [<%= link_to "Log Out", destroy_user_session_path %>]</i></p>
			<% end %>
			
			<% if current_user.is_admin? %>
				<p><%= link_to "Manage Users", a_users_path %></p>
				<p><%= link_to "Manage Site Packages", a_packages_path %></p>
			<% end %>
			
			<hr/>

			<h3>Upload Assets</h3>
			
			<div id="filedrop" style="">
        	<p style="font-size:24px;color: #aaa;text-align: center">Drop File(s) Here</i></p>
        	</div>
		</div>
		<div class='sixW endcap'>
			<%= yield %>
		</div>
	</div>
	<br class="clear"/>
	<br/>
</div>

<% content_for :footerjss do %>
    chooser = new AssetHost.ChooserUI({
		dropEl: "#filedrop",
		saveButton: 0,
		afterUploadText: "Manage Metadata", 
		afterUploadURL: "<%= metadata_a_assets_path + "?ids={{ids}}" %>"
	})
<% end %>

</body>
<%= render "shared/footerjs" %>
</html>
